@font-face {
  font-family: "Roboto";
  src: url("./static/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fascinate";
  src: url("./static/fonts/Fascinate-Regular.eot");
  src: url("./static/fonts/Fascinate-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./static/fonts/Fascinate-Regular.woff2") format("woff2"),
    url("./static/fonts/Fascinate-Regular.woff") format("woff"),
    url("./static/fonts/Fascinate-Regular.ttf") format("truetype"),
    url("./static/fonts/Fascinate-Regular.svg#Fascinate-Regular") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
